.links {
    display: flex;
    background: #f2f2f2;
    padding: 5px;
    width: fit-content;
    margin: 0.5em 0;
    border-radius: 0.3em;
}

.navLink {
    padding: 5px;   
    border-radius: 0.3em;
    text-decoration: none;
    color: #646464;
    display: flex;
    align-items: center;
}

.active{
    background-color: #3232341d;
}


.item {
    display: flex;
    align-items: center;
    position: relative;
}